.btn {
  border: none;
  border-radius: 6px;
  padding: 8px 16px;
  cursor: pointer;
}

.primary {
  composes: btn;
  background-color: #007bff;
  color: white;
}

.secondary {
  composes: btn;
  background-color: #6c757d;
  color: white;
}

:global(.myheader) {
  padding: 10px 20px;
  font-size: 50px;
  color: white;
  background-color: dodgerblue;
}